body {
  background-color: black;
  color: white;
}

.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: wheat;
  width: 400px;
  border-radius: 16px;
}
.raw{
  display: flex;
}